/* Import police Aparaj.ttf */
@font-face {
  font-family: "aparajb";
  src: url("/font/aparajb.ttf");
}
/* Variables */
/* line 17, ../scss/style.scss */
body {
  background-image: linear-gradient(white, silver);
}

/* line 24, ../scss/style.scss */
#navbar-component a, #competences, #demande_devis, footer a, #main_footer, #demande_devis a, #competences_mob {
  color: white;
}

/* line 29, ../scss/style.scss */
header, #navbar-component, #nav_container_middle, #main_slider div, #main_slider div img, .sep_losange,
.sep_losange img, #container, #container #content, #container h1:before, #container h1:after, footer {
  margin: auto;
}

/* line 36, ../scss/style.scss */
header, #navbar-component a, #container h1, #container h2, #div_losange_bas, #competences div, #competences_mob div,
#demande_devis, footer {
  text-align: center;
}

/* line 43, ../scss/style.scss */
#header_pc {
  width: 1000px;
  height: 145px;
  display: flex;
  justify-content: center;
}
/* line 48, ../scss/style.scss */
#header_pc img {
  height: 185px;
}
/* line 51, ../scss/style.scss */
#header_pc .titres {
  font-family: aparaj, sans-serif;
  font-size: 1.5em;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 5px;
  bottom: 0;
  color: #464a55;
  font-weight: bold;
  font-style: italic;
}

/* line 62, ../scss/style.scss */
#header_mob {
  display: none;
}

/* line 67, ../scss/style.scss */
#navbar-component {
  height: 65px;
  background-color: #464a55;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-family: aparaj, sans-serif;
  width: 1200px;
  font-size: 18px;
}
/* line 75, ../scss/style.scss */
#navbar-component #nav_container_middle {
  width: 90%;
  line-height: 65px;
}
/* line 78, ../scss/style.scss */
#navbar-component #nav_container_middle #nav_container_margin_left {
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
}
/* line 84, ../scss/style.scss */
#navbar-component #nav_container_middle #nav_container_margin_left a {
  display: block;
  text-decoration: none;
  width: 120px;
}
/* line 92, ../scss/style.scss */
#navbar-component #nav_container_middle #nav_container_margin_left .lien:hover {
  font-weight: bold;
}
/* line 95, ../scss/style.scss */
#navbar-component #nav_container_middle #nav_container_margin_left .lien:after {
  border: 2px solid rgba(139, 0, 0, 0);
  bottom: 8px;
  content: " ";
  display: block;
  margin: 0 auto;
  width: 0;
  position: relative;
  transition: all 50ms ease-in-out;
}
/* line 105, ../scss/style.scss */
#navbar-component #nav_container_middle #nav_container_margin_left .lien:hover:after {
  border-color: darkred;
  transition: width 400ms ease-in-out;
  width: 100%;
}
/* line 114, ../scss/style.scss */
#navbar-component #nav_container_middle #nav_container_margin_left #home i {
  vertical-align: middle;
  background-color: darkred;
  width: 80px;
  border-radius: 10px;
  padding: 8px;
}
/* line 120, ../scss/style.scss */
#navbar-component #nav_container_middle #nav_container_margin_left #home i:hover {
  background-color: white;
  color: darkred;
  transition: background-color 1s ease;
}

/* line 134, ../scss/style.scss */
#main_slider div {
  background-color: #464a55;
  width: 1200px;
}
/* line 137, ../scss/style.scss */
#main_slider div img {
  width: 100%;
  max-height: 450px;
}

/* line 145, ../scss/style.scss */
.sep_losange {
  height: 60px;
  width: 1200px;
  background-color: black;
  position: relative;
  z-index: 0;
}
/* line 151, ../scss/style.scss */
.sep_losange img {
  display: block;
}
/* line 154, ../scss/style.scss */
.sep_losange #losange_haut {
  padding-top: 15px;
}

/* line 160, ../scss/style.scss */
#container {
  font-family: aparaj, sans-serif;
  width: 1200px;
  background-color: white;
  border-right: solid 1px silver;
  border-left: solid 1px silver;
  padding-bottom: 40px;
}
/* line 166, ../scss/style.scss */
#container #content {
  padding-top: 40px;
  width: 70%;
}
/* line 170, ../scss/style.scss */
#container #content h1 {
  letter-spacing: -2px;
}
/* line 172, ../scss/style.scss */
#container #content h1:before, #container #content h1:after {
  content: " ";
  display: block;
  border: 1px solid darkred;
}
/* line 177, ../scss/style.scss */
#container #content h1:after {
  margin-top: 15px;
  width: 50%;
}
/* line 181, ../scss/style.scss */
#container #content h1:before {
  margin-bottom: 15px;
  width: 75%;
}
/* line 187, ../scss/style.scss */
#container #content h2:after {
  margin-top: 15px;
  content: " ";
  display: block;
  border: 1px solid darkred;
}
/* line 194, ../scss/style.scss */
#container #content .justify {
  font-size: 18px;
  text-align: justify;
}
/* line 198, ../scss/style.scss */
#container #content #img_ecologie {
  width: 90%;
  border-radius: 20px;
  display: block;
  margin: auto;
}
/* line 208, ../scss/style.scss */
#container #div_losange_bas #losange_bas {
  position: relative;
  margin-bottom: -90px;
  z-index: 1;
}
/* line 216, ../scss/style.scss */
#container #competences_mob {
  display: none;
}
/* line 217, ../scss/style.scss */
#container #competences {
  display: flex;
  justify-content: space-around;
}
/* line 220, ../scss/style.scss */
#container #competences div {
  border-radius: 20px;
  background-color: darkred;
  height: 200px;
  width: 32%;
  position: relative;
}
/* line 226, ../scss/style.scss */
#container #competences div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  transition: none;
}
/* line 234, ../scss/style.scss */
#container #competences div:hover:after {
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.8s ease-out;
}
/* line 240, ../scss/style.scss */
#container #competences div i {
  line-height: 150px;
  font-size: 10em;
}
/* line 244, ../scss/style.scss */
#container #competences div p {
  margin: 0;
  font-size: 18px;
}
/* line 252, ../scss/style.scss */
#container #categories div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 256, ../scss/style.scss */
#container #categories div div {
  position: relative;
  max-width: 400px;
  max-height: 250px;
  margin-bottom: 10px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 20px;
}
/* line 264, ../scss/style.scss */
#container #categories div div img {
  border-radius: 20px;
  transition: all 0.8s ease-in-out;
  max-width: 100%;
}
/* line 268, ../scss/style.scss */
#container #categories div div img:hover {
  border-radius: 20px;
  transform: scale(1.2);
}
/* line 273, ../scss/style.scss */
#container #categories div div span {
  position: absolute;
  text-align: center;
  bottom: 15px;
  background-color: rgba(42, 40, 34, 0.65);
  width: 1200px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 1.2em;
}
/* line 289, ../scss/style.scss */
#container .slider-for {
  margin: auto;
  width: 1000px;
  max-width: 100%;
}
/* line 293, ../scss/style.scss */
#container .slider-for .slick-arrow {
  background-color: #464a55;
  height: 100%;
  width: 25px;
}
/* line 298, ../scss/style.scss */
#container .slider-for img {
  width: 100%;
  margin: auto;
  cursor: zoom-in;
}
/* line 304, ../scss/style.scss */
#container .slider-nav {
  width: 1000px;
  max-width: 100%;
  max-height: 60px;
  margin: auto;
  margin-top: 10px;
}
/* line 310, ../scss/style.scss */
#container .slider-nav .slick-slide img {
  width: 100%;
  max-height: 60px;
}
/* line 316, ../scss/style.scss */
#container #message_slider {
  display: none;
}
/* line 320, ../scss/style.scss */
#container #contact {
  border: 1px darkred solid;
  display: flex;
  justify-content: center;
}
/* line 324, ../scss/style.scss */
#container #contact #coordonnees {
  flex-grow: 1;
  text-align: center;
  font-size: 1.2em;
}
/* line 329, ../scss/style.scss */
#container #contact #google_maps {
  flex-grow: 2;
}
/* line 331, ../scss/style.scss */
#container #contact #google_maps iframe {
  width: 100%;
  height: 450px;
}
/* line 335, ../scss/style.scss */
#container #contact #tableau_horaire {
  width: 80%;
}
/* line 336, ../scss/style.scss */
#container #contact #tableau_horaire td {
  border: solid 1px darkgrey;
}
/* line 344, ../scss/style.scss */
#container #demande_devis {
  border-radius: 20px;
  background-color: #464a55;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 35px;
  font-size: 20px;
  padding: 15px;
}
/* line 351, ../scss/style.scss */
#container #demande_devis a {
  background-color: darkred;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
}
/* line 356, ../scss/style.scss */
#container #demande_devis a:hover {
  font-weight: bold;
  background-color: white;
  color: darkred;
  transition: background-color 1s ease;
}

/* line 367, ../scss/style.scss */
#footer_pc {
  height: 190px;
  background-color: #464a55;
  width: 1200px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* line 373, ../scss/style.scss */
#footer_pc h2 {
  text-decoration: underline;
}
/* line 376, ../scss/style.scss */
#footer_pc #main_footer {
  display: flex;
  justify-content: center;
}
/* line 379, ../scss/style.scss */
#footer_pc #main_footer div {
  width: 33%;
}
/* line 382, ../scss/style.scss */
#footer_pc #main_footer a:hover {
  color: darkred;
}
/* line 385, ../scss/style.scss */
#footer_pc #main_footer #liens_footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}
/* line 392, ../scss/style.scss */
#footer_pc #copyright {
  height: 30px;
  line-height: 25px;
  font-style: italic;
}

/* line 399, ../scss/style.scss */
#footer_mob {
  display: none;
}

/* ------------------------------------- RESPONSIVE ------------------------------------- */
@media (min-width: 250px) and (max-width: 900px) {
  /* line 407, ../scss/style.scss */
  #contact {
    flex-direction: column;
    border: inherit;
  }
}
@media (min-width: 1000px) and (max-width: 1700px) {
  /* line 415, ../scss/style.scss */
  .slider-for, .slider-for img, .slider-nav {
    width: 800px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 415, ../scss/style.scss */
  .slider-for, .slider-for img, .slider-nav {
    width: 600px;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  /* line 415, ../scss/style.scss */
  .slider-for, .slider-for img, .slider-nav {
    width: 500px;
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  /* line 415, ../scss/style.scss */
  .slider-for, .slider-for img, .slider-nav {
    width: 400px;
  }
}

@media (min-width: 800px) and (max-width: 1700px) {
  /* line 430, ../scss/style.scss */
  .slider-nav img {
    max-height: 50px;
  }
}

@media (min-width: 250px) and (max-width: 500px) {
  /* line 438, ../scss/style.scss */
  .message_slide {
    color: blue;
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
  }

  /* line 447, ../scss/style.scss */
  .slider-nav, .slick-next, .slick-prev {
    display: none;
    visibility: hidden;
  }

  /* line 452, ../scss/style.scss */
  #container #content {
    width: 100%;
  }

  /* line 455, ../scss/style.scss */
  #container #content h1, #container #content h2, #container #content p {
    width: 85%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  /* line 461, ../scss/style.scss */
  #container #content li {
    padding: 10px;
    text-align: left;
  }

  /* line 466, ../scss/style.scss */
  #container #content .slider-for {
    width: 98%;
  }
}
@media (min-width: 250px) and (max-width: 1300px) {
  /* line 472, ../scss/style.scss */
  #header_pc {
    display: none;
  }

  /* line 475, ../scss/style.scss */
  #header_mob {
    display: block;
    text-align: left;
  }

  /* line 480, ../scss/style.scss */
  #navbar-component, #main_slider div, #main_slider div img,
  .sep_losange, #container, #footer_pc {
    width: 95%;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* line 490, ../scss/style.scss */
  #header_mob {
    height: 145px;
    margin-left: 55px;
  }
  /* line 493, ../scss/style.scss */
  #header_mob img {
    width: 40%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /* line 499, ../scss/style.scss */
  #header_mob {
    height: 165px;
    margin-left: 55px;
  }
  /* line 502, ../scss/style.scss */
  #header_mob img {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 511, ../scss/style.scss */
  #header_mob {
    height: 145px;
    text-align: center;
    margin-right: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (min-width: 900px) and (max-width: 950px) {
  /* line 511, ../scss/style.scss */
  #header_mob {
    height: 135px;
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (min-width: 850px) and (max-width: 900px) {
  /* line 511, ../scss/style.scss */
  #header_mob {
    height: 125px;
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (min-width: 800px) and (max-width: 850px) {
  /* line 511, ../scss/style.scss */
  #header_mob {
    height: 115px;
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (min-width: 750px) and (max-width: 800px) {
  /* line 511, ../scss/style.scss */
  #header_mob {
    height: 110px;
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 531, ../scss/style.scss */
  #header_mob img {
    width: 45%;
  }

  /* line 537, ../scss/style.scss */
  .sep_losange {
    height: 50px;
  }
  /* line 539, ../scss/style.scss */
  .sep_losange img {
    width: 9%;
  }
  /* line 542, ../scss/style.scss */
  .sep_losange #losange_haut {
    padding-top: 10px;
  }

  /* line 548, ../scss/style.scss */
  #div_losange_bas img {
    width: 9%;
  }
  /* line 551, ../scss/style.scss */
  #div_losange_bas #losange_bas {
    padding-bottom: 7px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  /* line 566, ../scss/style.scss */
  #header_mob {
    height: 105px;
    margin-left: 55px;
  }
}
@media (min-width: 600px) and (max-width: 767px) and (min-width: 650px) and (max-width: 700px) {
  /* line 566, ../scss/style.scss */
  #header_mob {
    height: 90px;
  }
}
@media (min-width: 600px) and (max-width: 767px) and (min-width: 600px) and (max-width: 650px) {
  /* line 566, ../scss/style.scss */
  #header_mob {
    height: 85px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  /* line 575, ../scss/style.scss */
  #header_mob img {
    width: 45%;
  }
}
@media (min-width: 600px) and (max-width: 767px) and (min-width: 600px) and (max-width: 650px) {
  /* line 582, ../scss/style.scss */
  #footer_pc #copyright {
    line-height: 10px;
  }
}

@media (min-width: 270px) and (max-width: 600px) {
  /* line 590, ../scss/style.scss */
  #header_mob {
    text-align: center;
  }
  /* line 591, ../scss/style.scss */
  #header_mob img {
    width: 60%;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 550px) and (max-width: 600px) {
  /* line 590, ../scss/style.scss */
  #header_mob {
    height: 115px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 500px) and (max-width: 550px) {
  /* line 590, ../scss/style.scss */
  #header_mob {
    height: 110px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 450px) and (max-width: 500px) {
  /* line 590, ../scss/style.scss */
  #header_mob {
    height: 100px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 400px) and (max-width: 450px) {
  /* line 590, ../scss/style.scss */
  #header_mob {
    height: 90px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 350px) and (max-width: 400px) {
  /* line 590, ../scss/style.scss */
  #header_mob {
    height: 95px;
  }
  /* line 609, ../scss/style.scss */
  #header_mob img {
    width: 70%;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 250px) and (max-width: 350px) {
  /* line 590, ../scss/style.scss */
  #header_mob {
    height: 90px;
  }
  /* line 615, ../scss/style.scss */
  #header_mob img {
    width: 80%;
  }
}

@media (min-width: 270px) and (max-width: 600px) {
  /* line 622, ../scss/style.scss */
  #navbar-component {
    height: auto;
    width: 95%;
  }
  /* line 626, ../scss/style.scss */
  #navbar-component #nav_container_middle #nav_container_margin_left {
    margin: inherit;
    flex-direction: column;
    justify-content: space-around;
  }
  /* line 630, ../scss/style.scss */
  #navbar-component #nav_container_middle #nav_container_margin_left a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
  }

  /* line 642, ../scss/style.scss */
  #main_slider div img {
    width: 100%;
  }

  /* line 647, ../scss/style.scss */
  .sep_losange {
    height: 25px;
  }
  /* line 649, ../scss/style.scss */
  .sep_losange img {
    width: 10%;
  }
  /* line 652, ../scss/style.scss */
  .sep_losange #losange_haut {
    padding-top: 2px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 450px) and (max-width: 500px) {
  /* line 657, ../scss/style.scss */
  .sep_losange img {
    width: 12%;
  }
  /* line 660, ../scss/style.scss */
  .sep_losange #losange_haut {
    padding-top: 1px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 400px) and (max-width: 450px) {
  /* line 647, ../scss/style.scss */
  .sep_losange {
    margin-bottom: inherit;
  }
  /* line 666, ../scss/style.scss */
  .sep_losange img {
    width: 13%;
  }
  /* line 669, ../scss/style.scss */
  .sep_losange #losange_haut {
    padding-top: 3px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 350px) and (max-width: 400px) {
  /* line 647, ../scss/style.scss */
  .sep_losange {
    margin-bottom: inherit;
  }
  /* line 675, ../scss/style.scss */
  .sep_losange img {
    width: 15%;
  }
  /* line 678, ../scss/style.scss */
  .sep_losange #losange_haut {
    padding-top: 3px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 250px) and (max-width: 350px) {
  /* line 647, ../scss/style.scss */
  .sep_losange {
    margin-bottom: inherit;
  }
  /* line 684, ../scss/style.scss */
  .sep_losange img {
    width: 18%;
  }
  /* line 687, ../scss/style.scss */
  .sep_losange #losange_haut {
    padding-top: 5px;
  }
}

@media (min-width: 270px) and (max-width: 600px) {
  /* line 693, ../scss/style.scss */
  #container {
    font-size: 0.7em;
  }
  /* line 695, ../scss/style.scss */
  #container #content {
    padding-top: 15px;
  }
  /* line 698, ../scss/style.scss */
  #container #demande_devis {
    font-size: 1.2em;
  }
  /* line 701, ../scss/style.scss */
  #container #losange_bas {
    padding-top: 2px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 250px) and (max-width: 550px) {
  /* line 705, ../scss/style.scss */
  #container #competences {
    display: none;
  }
  /* line 706, ../scss/style.scss */
  #container #competences_mob {
    display: flex;
    justify-content: space-around;
  }
  /* line 709, ../scss/style.scss */
  #container #competences_mob div {
    border-radius: 20px;
    background-color: darkred;
    height: 80px;
    width: 32%;
    position: relative;
  }
  /* line 715, ../scss/style.scss */
  #container #competences_mob div i {
    line-height: 60px;
    font-size: 5em;
  }
  /* line 719, ../scss/style.scss */
  #container #competences_mob div p {
    margin: 0;
    font-size: 1.2em;
  }
  /* line 726, ../scss/style.scss */
  #container #demande_devis {
    font-size: 1.2em;
    margin-top: 15px;
  }
}
@media (min-width: 270px) and (max-width: 600px) and (min-width: 250px) and (max-width: 405px) {
  /* line 732, ../scss/style.scss */
  #container #demande_devis {
    width: 80%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  /* line 738, ../scss/style.scss */
  #container #demande_devis a {
    background-color: inherit;
    border-radius: inherit;
    border: inherit;
    padding: 0;
  }
  /* line 743, ../scss/style.scss */
  #container #demande_devis a:hover {
    background-color: inherit;
  }
  /* line 748, ../scss/style.scss */
  #container #demande_devis {
    margin-bottom: 25px;
  }
}
@media (min-width: 270px) and (max-width: 600px) {
  /* line 752, ../scss/style.scss */
  #container #google_maps {
    width: 95%;
    margin: auto;
  }
  /* line 758, ../scss/style.scss */
  #container #categories div div {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 767, ../scss/style.scss */
  #div_losange_bas, #barre_losange_bas, #footer_pc {
    display: none;
  }

  /* line 771, ../scss/style.scss */
  #footer_mob {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #464a55;
    opacity: 0.9;
    display: flex;
    height: 60px;
    width: 100%;
  }
  /* line 780, ../scss/style.scss */
  #footer_mob a {
    width: 33.33%;
    display: block;
    text-decoration: none;
    font-family: aparaj, sans-serif;
  }
  /* line 785, ../scss/style.scss */
  #footer_mob a i {
    font-size: 2em;
    line-height: 40px;
  }
  /* line 789, ../scss/style.scss */
  #footer_mob a span {
    margin: auto;
    z-index: 3;
  }
  /* line 793, ../scss/style.scss */
  #footer_mob a:hover {
    background-color: black;
  }
  /* line 797, ../scss/style.scss */
  #footer_mob .sep {
    border-right: 2px solid rgba(0, 0, 0, 0.3);
  }
}
